body{
    background: black;
    font-family: Comic Sans MS !important;
    background-image: url("../media/glitchpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: yellow;
    cursor: url('../media/totoro.cur'), auto;
    margin: 0;
    font-size: 1.5vw;
}

a{
    color: yellow;
}

.page{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000aa;
    padding-bottom: 5px;
}
header{
    height: 50vw;
    text-align: center;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    height: 40%;
    width: 40%;
}

.title img{
    width: 100%;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 5px;
}

.container img{
    width: 100%;
    height: auto;
}

.container div{
    //background: #ffffff22;
    margin: 1px;
    border: #ffffff22 solid 1px;
}

.border{
    border: solid #ffffff55 1px;
}

.item1 { grid-area: 1 / 3 / 2 / 9;
    //height: 15vw;
    text-align: center;
}
.item1 img{
    width: 20%;
    height: auto;
    margin-top: 3%;
}
.item2 { grid-area: 1 / 1 / 13 / 3;
}

.item2 img{
    width: 40%;
    height: auto;
}


.item3 { grid-area: 2 / 3 / 8 / 9;
    padding: 0px;
    font-size: 16px;
}
.item3 img{
    width: 30%;
    height: auto;
}

#scrollbox3{
  height: 70vw;
  width: 100%;
  overflow: auto;
  border: none;
}

.item4 { grid-area: 8 / 4 / 11 / 8;

}
.item5 { grid-area: 11 / 3 / 13 / 6;

}
.item6 { grid-area: 11 / 6 / 13 / 9;

}
.item7 { grid-area: 8 / 8 / 9 / 9; }

.item7 img{
    margin-top: 15%;
}

.item8 { grid-area: 9 / 8 / 10 / 9; }

.item8 img{
    margin-top: 15%;
}

.item9 { grid-area: 10 / 8 / 11 / 9; }

.item9 img{
    margin-top: 15%;
}

.item10 { grid-area: 8 / 3 / 9 / 4; }

.item10 img{
    margin-top: 15%;
}

.item11 { grid-area: 9 / 3 / 10 / 4; }

.item11 img{
    margin-top: 15%;
}

.item12 { grid-area: 10 / 3 / 11 / 4; }

.item12 img{
    margin-top: 15%;
}




::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ff000066;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff000055;
  border-radius: 10px;
}
